body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  background: #4d5ae5;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.link {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}




  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
    



  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
  }
  }
  



@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


/*?---------=== MOBILE HEADER STYLES===------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 120px;
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  padding: 17px;       
}

  .header-logo-part {
    color: #2e2f42;
  } 
  

  @media only screen and (min-width: 767px) {
    .header-menu-list,
    .header-address {
      display: none;
    }
  
    .header {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .menu-open-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
      stroke: #2f2f37;
    }
  }
    
  

  /**-------======MOBILE MENU=====------*/

  @media only screen and (max-width: 767px) {
    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999999999;
      width: 100%;
      height: 100%;
      background-color: #fff;
      
      opacity: 0;
      visibility: hidden;
      position: none;
      transition: opacity 250ms linear, visibility 250ms linear;
    }

    .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    } 
  
    .mobile-menu-container {
      position: relative;
    }

    .mobil-close-btn {
      position: absolute;
      top: 24px;
      right: 16px;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e7e9fc;
      border: 50%;
      background-color: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0;
      line-height: 0;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
      fill: #2f2f37;
    }
  }
  
    @media screen and (min-width: 768px) {
      .mobile-menu {
        display: none;
      }
    }




/**============== TABLET HEADER STYLE ===============*/


@media screen and (min-width: 768px) {
    .header-menu-list,
    .header-address {
      display: flex;
  }

    .menu-open-btn {
    display: none;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

  

/**------- DESKTOP HEADER STYLE ----- */

@media only screen and (min-width: 1158px) {
  .container {
  max-width: 1158px;
  padding: 0 15px;
}

.header-logo {
  margin-right: 76px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.mob-address-contact {
  font-size: 16px;
  line-height: 1.5;
}
}  
.header-address-link {
display: flex;
  flex-direction: row;
  gap: 40px;
}




  /**-------------------- MOBILE HERO STYLE --------------- */

    
  .hero {
    padding: 72px 52px;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mobil-1x-min.jpg);

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;  
      }

  @media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero {
      background-image: url(../images/Dark-bg-mobil-1x-min.jpg);
    }
  }

  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    max-width: 216px;
    display: block;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  
  .hero-order-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
  
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hero-order-btn:hover,
  .hero-order-btn:focus {
    background-color: #404bbf;
  }

/* *-----------------TABLET HERO STYLE--------------------*/

  @media screen and (min-width: 768px) {
.hero {
  max-width: 768px;
  padding: 112px 0;

  background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet-1x-min.jpg);

}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: url(../images/Dark-bg-tablet-@2x-min.jpg);
  }
}

.hero-title {
max-width: 496px;
font-size: 56px;
line-height: 1.1;
margin-bottom: 36px;
}
  }

  /**--=====---DESKTOP HERO STYLE---===----*/

  @media screen and (min-width: 1158px) {
.hero {
  max-width: 1440px;
  padding: 188px 0;

  background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop.jpg);
}
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
.hero {
  min-width: 1200px;
  margin-bottom: 48px;

  background-image: url(../images/hero-desktop@2x.jpg);
    }
  }


/**--------------------------------------*/
/**---------- MOB FEATURES STYLE------------*/

.features {
  padding: 96px 0;
}
  

  .features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-item {
  width: 100%
}

.features-item-icons {
  display: none;

  }

.features-subtitle {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.features-item-text {
  font-weight: 500;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* *-----TABLET FEATURES STYLE--------*/

@media screen and (min-width: 768px) {


  .features-list {
    display: flex;
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
}

.features-item {
  width: calc((100% - 24)/2)
}

.features-subtitle {
  text-align: left;
}

/**--=====---DESKTOP FEATURES STYLE---===----*/

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
}


.features-item-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  }

.features-item-text {
  font-weight: 400;
}


/**-------------------------------------------*/
/**-------------TEAM MOBILE STYLE------------*/

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-container {
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team-item {
  width: 264px;
    border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  
}

.card-content {
  padding: 32px 0;
}

.border-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.border-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border-link:hover,
.border-link:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team {
  fill: #f4f4fd;
}

.team-card {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

/**--=====---TABLET TEAM STYLE----====----*/

@media screen and (min-width: 768px) {
  .team-container {
    max-width: 584px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 64px 24px;
  }
}


/**----=========Desktop TEAM style======----- */

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px;
  }

  .team-container {
    max-width: 1158px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/**------------------------------------*/
/**-------------PORTFOLIO-------------*/

.portfolio {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .portfolio-cover-wrap .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item:hover .portfolio-cover-wrap {
  transform: translateY(0%);
}

/* *-=====----TABLET TEAM STYLE--------*/

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
}

  .portfolio-item {
  width: calc((100% - 24px) / 2);
}
}

/**----=========Desktop TEAM style----- === */

@media screen and (min-width: 1158px) {
.portfolio {
    padding: 120px 0px;
}

.portfolio-list {
  gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
} 

/**------------------------------------*/
/**---------------FOOTER---------------*/

.footer {
  background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

.footer-container {
  max-width: 320px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

.footer-title {
  text-align: center;
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: left;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
  }

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer {
  fill: #f4f4fd;
}

.footer-link:hover, .footer-link:focus {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-footer {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}

.footer-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  opacity: 0.3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  max-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
    background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.icon-subscribe {
  fill: #f4f4fd;
  margin-left: 16px;
}

@media screen and (min-width: 767px) {
  .sub-footer, .social-media, .footer-logo {
    display: block;
    text-align: center;
  }
}


/**-=====----TABLET FOOTER STYLE--------*/

@media screen and (min-width: 768px) {
.footer {
  padding-bottom: 0;
}

.footer-container {
  padding-left: 0;
  padding-right: 0;
  gap: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-title {
  text-align: left;
}

.footer-text {
  max-width: 264px;
}

.footer-social {
  gap: 16px;
  max-width: 288px;
  align-items: flex-start;
}


.footer-icon-list {
  margin-bottom: 72px;
}


.sub-footer {
  text-align: left;
}


.icon-footer {
  fill: #f4f4fd;
}

.footer-link:hover {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:focus {
  background-color: #28f8c7;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

}

/* *----=========Desktop FOOTER styles----- === */

@media screen and (min-width: 1158px) {
    .footer-container {
    display: flex;
    align-items: baseline;
  }
  
  .footer-title {
    margin-right: 120px;
  }

  .footer-heading {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
  }
  
  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 80px;
  }
  
  .social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }

  .footer-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-footer {
    fill: #f4f4fd;
  }
  
  .footer-link:hover {
    background-color: #31d0aa;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:focus {
    background-color: #28f8c7;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  

}

/**----------------------------------*/
/**--------------BACKDROP---------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/**----------------------------------*/
/**--------------MODAL---------------*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-btn-icon {
  fill: #ffffff;
}
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

/**----------------------------------*/
/**--------------REVIEW FORM---------------*/

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.review-form-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-textarea-wrapper {
  margin-bottom: 16px;
}

.review-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-checkbox-wrapper {
  display: flex;
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-right: 4px;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-privacy-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-privacy-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid #f4f7f6;
}

.privacy-policy-link {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  text-decoration: underline;
}

.modal-send-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**========== mobile-menu styles ======= */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  height: 100%;
}

.mobile-nav {
  display: flex;
  padding-top: 72px;
  padding-bottom: 168px;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.mobile-nav-link {
  display: block;
  font-weight: 700;
  font-style: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: #2e2f42;
}

.mobile-nav-link:hover, .mobile-nav-link:focus {
  color: #404bbf;
}

.mob-address-contact:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-address-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.mob-address-contact:hover, .mob-address-contact:focus {
  color: #434455;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-social {
  display: flex;
  gap: 40px;
}

.mobile-icon-list {
  display: flex;
  gap: 40px;
}

.mobile-link {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:hover, .mobile-link:focus {
  background-color: #4d5ae5;
}
.mobile-icon {
    fill: #f4f4fd;
}













































